# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = hitsuji-haneta
email = hitsuji-haneta@hotmail.com

[alias]
graph = log --graph --date-order -C -M --pretty=format:'%C(auto) <%h> %Cgreen %ad %Creset by"%C(cyan ul)%an%Creset" %C(auto)%s %d' --all --date=short

[init]
	defaultBranch = main
[core]
	editor = nvim

[protocol "file"]
	allow = always
[diff]
	submodule = log
